#sidebar {
  overflow: auto;
  position: fixed;
  top: 48px;
  bottom: 80px;
  padding: 0;
  min-width: 100%;
  margin: 0px!important;
}

#mainContent {
  overflow: auto;
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

#player {
  position: fixed;
  bottom: 0;
  height: 80px;
  background-color: #282828;
  margin: 0!important;
}

.jQBracket .label {
  text-overflow: ellipsis;
}
